<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>
            display_topic
        </h1>
    
<table>
    <Tr>
        <th>topic_name</th>
    </Tr>
{% for to in topics %}
    <tr>
        <td>{{to.topic_name}}</td>
    </tr>
{% endfor %}
    </center>
</table>
    
</body>
</html>